.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 700px;
    margin:auto;
   
}
input{
flex-grow: 1;
outline: none;
padding: none;
border-radius: 10px;
border: 1px solid gray;
height:34px

}
button{
    background-color: green;
    padding: 10px 20px;
    border-radius:10px;
    border: none;
    margin: 10px;
}
.txt-box{
    flex-grow: 1;
    margin-top: 30px;
    overflow: scroll;
    scrollbar-width: none;

}
.user-txt{
    display: flex;
    justify-content: end;
    align-items: start;
    margin-right: 10px;
}
.robot-txt{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 10px;
}
.txt{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    align-items: start;
    max-width: 200px;
}
.input-box{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
img{
    width: 40px;
}